@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@500;600&display=swap');

.container {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: Pretendard;
}

.title {
  position: absolute;
  top: calc(50% - 69px);
  left: calc(50% - 111.5px);
  font-size: 40px;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 600;
  background: linear-gradient(90deg, #6000ff, #e100ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 61.5px);
  letter-spacing: -0.04em;
  line-height: 120%;
  font-weight: 500;
}

body {
  margin: 0;
  line-height: normal;
} 